{% extends 'layouts/layout.html' %}
{% load static %}

{% block link %}
   <link rel="stylesheet" href="{% static 'seller/login.css' %}">
{% endblock link %}

{% block main %}
<section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="index.html">Property Home</a>
                <h4>Sign in to your account</h4>
              </div>
              <form class="contactform" method="post">
                {% csrf_token %}
                <div class="aa-single-field">
                  <label for="{{form.username.id_for_label}}">{{form.username.label}} <span class="required">*</span></label>
                  {{form.username}}
                </div>
                <div class="aa-single-field">
                  <label for="{{form.password.id_for_label}}">{{form.password.label}} <span class="required">*</span></label>
                  {{form.password}}
                </div>
                <div class="aa-single-field">
                <label>
                  <input type="checkbox"> Remember me
                </label>                                                          
                </div> 
                <div class="aa-single-submit">
                  <input type="submit" class="aa-browse-btn" name="submit">  
                  <p>Don't Have A Account Yet? <a href="register.html">CREATE NOW!</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}