{% extends 'layouts/layout.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'seller/register.css' %}">
{% endblock link %}

{% block main %}
<section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="index.html">Property Home</a>
                <h4>Create your account and Stay with us</h4>
              </div>
              <form class="contactform" method="post" action="{% url 'seller:register' %}">
                {% csrf_token %}
                {{form.non_field_errors}}                                              
                <div class="aa-single-field">
                  {{form.first_name.errors}}
                  <label for="name">First Name <span class="required">*</span></label>
                  {{form.first_name}}
                </div>
                <div class="aa-single-field">
                  {{form.last_name.errors}}
                  <label for="name">Last Name <span class="required">*</span></label>
                  {{form.last_name}}
                </div>
                <div class="aa-single-field">
                  {{form.username.errors}}
                  <label for="name">Username <span class="required">*</span></label>
                  {{form.username}}
                </div>
                <div class="aa-single-field">
                  {{form.email.errors}}
                  <label for="email">Email <span class="required">*</span></label>
                  {{form.email}}
                </div>
                <div class="aa-single-field">
                  {{form.password1.errors}}
                  <label for="password">Password <span class="required">*</span></label>
                  {{form.password1}}
                </div>
                <div class="aa-single-field">
                  {{form.password2.errors}}
                  <label for="confirm-password">Confirm Password <span class="required">*</span></label>
                  {{form.password2}}
                </div>
                <div class="aa-single-submit">
                  <input type="submit" value="Create Account" name="submit">                    
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
{% endblock main %}