{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block main %}
<!-- Start slider  -->
<section id="aa-slider">
    <div class="aa-slider-area"> 
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->
        {% for property in expensive_properties %}
        <div class="aa-top-slider-single">
            <img src="{{property.get_main_image.image.url}}" alt="img">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span class="aa-top-slider-catg">{{property.type}}</span>
              <h2 class="aa-top-slider-title">{{property.title}}</h2>
              <h2 class="aa-top-slider-title">{{property.kmetr}} kv</h2>
              <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>{{property.city}}</p>
              <p class="aa-top-slider-price">{{property.price}}</p>
              <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
            </div>
            <!-- / Top slider content -->
          </div>
        {% endfor %}
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
         <div class="aa-advance-search-top">
            <form class="row" method="get" action="{% url 'sale:property-list' %}">
              <div class="col-md-4">
                <div class="aa-single-advance-search">
                  {{pfilter.form.city}}
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  {{pfilter.form.purchase}}
                </div>
              </div>
              <div class="col-md-2">
                 <div class="aa-single-advance-search">
                  {{pfilter.form.type}}
              </div>
              </div>
              <div class="col-md-2">
                 <div class="aa-single-advance-search">
                  {{pfilter.form.new}}
              </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <input class="aa-search-btn" type="submit">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->

  <!-- About us -->
  <section id="aa-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-about-us-area">
            <div class="row">
              <div class="col-md-5">
                <div class="aa-about-us-left">
                  <img src="{% static 'img/about-us.png' %}" alt="image">
                </div>
              </div>
              <div class="col-md-7">
                <div class="aa-about-us-right">
                  <div class="aa-title">
                    <h2>About Us</h2>
                    <span></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab dignissimos vitae maxime adipisci blanditiis rerum quae quos! Id at rerum maxime modi fugit vero corrupti, ad atque sit laborum ipsum sunt blanditiis suscipit odio, aut nostrum assumenda nobis rem a maiores temporibus non commodi laboriosam, doloremque expedita! Corporis, provident?</p>                  
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>                    
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, blanditiis.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / About us -->

  <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Latest Properties</h2>
          <span></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>         
        </div>
        <div class="aa-latest-properties-content">
          <div class="row">


            {% for property in  last_properties%}

              <div class="col-md-4">
                <article class="aa-properties-item">
                  <a href="#" class="aa-properties-item-img">
                    <img src="{{property.get_main_image.image.url}}" alt="img">
                  </a>
                  <div class="aa-tag for-sale">
                    {{property.purchase}}
                  </div>
                  <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                      <span>{{property.type}}</span>
                      <span>{{property.kmetr}} kv</span>
                    </div>
                    <div class="aa-properties-about">
                      <h3><a href="#">{{property.title}}</a></h3>
                      <p>{{property.info|truncatechars:70}}</p>                      
                    </div>
                    <div class="aa-properties-detial">
                      <span class="aa-price">
                        {{property.price}}
                      </span>
                      <a href="#" class="aa-secondary-btn">View Details</a>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}

   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->

  <!-- Service section -->
  <section id="aa-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-service-area">
            <div class="aa-title">
              <h2>Our Service</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
            </div>
            <!-- service content -->
            <div class="aa-service-content">
              <div class="row">
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-home"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Property Sale</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Property Rent</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-crosshairs"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Property Development</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-bar-chart-o"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Market Analysis</a></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Service section -->



{% endblock main %}